* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 15px;
}

.accordion {
    background-color: #F5F5EB;
}

.accordion:hover {
  cursor: pointer;
}


.accordion:hover .accordion__label{
    color: #010101;
}

.accordion:hover .accordion__title-icon{
  display: block;
}

.accordion__content {
  display: none;
  justify-content: center;
  align-items: center;
}
.accordion__content-image {
	width: 300px;
}

.accordion__input:checked ~ .accordion__label > .accordion__content {
  display: flex;
}
.accordion__input:checked ~ .accordion__label > .accordion__content .accordion__content-image{
  opacity: 1;
}
.accordion__input:checked ~ .accordion__label > .accordion__title .accordion__title-icon {
  transform: rotate(45deg);
}
.accordion__item {
  margin-bottom: 1.5rem;
}

.accordion__item:hover > .accordion__input:not(:checked) ~ .accordion__label > .accordion__content {
  animation: anima 2s forwards;
  display: flex;
}

.accordion__item:hover > .accordion__input:not(:checked) ~ .accordion__label  .accordion__title-icon {
  transition: all 0.3s;
}

.accordion__item:hover > .accordion__label .accordion__title .accordion__title-icon {
  transform: rotate(45deg);
}

.accordion__label {
  font-weight: bold;
  color: #0254CD;
}

.accordion__input:checked ~ .accordion__label .accordion__title {
  color: #010101;
}

.accordion__title {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__title-icon {
 display: none;
  width: 20px;
  height: 20px;
}

@keyframes anima{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
